<!DOCTYPE html>
<html>
<head>
<title>User Details</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="static/avatar.jpg" style="width:100%" alt="Avatar">
        </div>
        <div class="w3-container">
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user_details[0]}}</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user_details[1]}}</p>
          <button onclick="login(event)" style="background-color: green; color: white">Logout</button>
          <hr>
        </div>
      </div>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird" style="float:right">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <center><h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>My Projects</h2></center>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Project 1</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Last Updated: 6th Feb 2024</h6>
          <a href="#">Link to the project</a>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Project 2</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Last Updated: 6th Feb 2024</h6>
          <a href="#"><a href="#">Link to the project</a></a>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Project 3</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Last Updated: 6th Feb 2024</h6>
          <a href="#"><a href="#">Link to the project</a></a>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Project 4</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Last Updated: 6th Feb 2024</h6>
          <a href="#"><a href="#">Link to the project</a></a>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<script>
  function login() {
    event.preventDefault();
    
    window.location.href = 'login.html';
  }
</script>

</body>
</html>
