<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/linkandcontribution.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image: url('../static/linkandcontribution.jpg')">

    <div class="bigdiv">
      <div class="dp">
        <h2>Select the video export format</h2>
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn" style="margin-left: 100px; margin-top:10px">Format</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="#">MP4</a>
                <a href="#">AVI</a>
                <a href="#">MOV</a>
              </div>
          </div>
        </div>
      <div class="container">
          <button class="btn"><i class="fa fa-download"></i> Download</button>
      </div>
      <div class="link">
        <a href="#"><h2>
    </div>

<script>

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

</body>
</html>